<div class="container mt-3 h-100">
  <div>
    <div>
      <div class="row">
        <div class="col-12">
          <app-header></app-header>
        </div>
      </div>
    </div>
    <div>
      <div class="row mt-5">
        <div class="col-4">
          <app-column-header [columnName]="'Backlog'"></app-column-header>
          <app-column [columnName]="'Backlog'" [tickets]="listOfBacklogTickets"></app-column>
        </div>
        <div class="col-4">
          <app-column-header [columnName]="'In Progress'"></app-column-header>
          <app-column cdkDropList #inPrList [columnName]="'In Progress'"
                      [tickets]="listOfInProgressTickets"></app-column>
        </div>
        <div class="col-4">
          <app-column-header [columnName]="'Complete'"></app-column-header>
          <app-column [columnName]="'Complete'" [tickets]="listOfCompleteTickets"></app-column>
        </div>
      </div>
    </div>
  </div>

</div>
