@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap";

$primary: #0066FF;
$secondary: #ADADAD;

body{
  font-family: 'Montserrat', sans-serif;
}

.lfio-card {
  padding: 2px;
}

.lfio-card-10px-border-radius{
  border-radius: 10px;
}
